.container
  .jumbotron
    header
      img.logo(src="data/images/sb-logo.svg")
      h1 <%= appNameSlug %>
    
    section.main
      h2: small Featuring:
      ul.list
        li Bootstrap
        li Lodash
        li jQuery
        li AngularJS
        li AngularRoute

    
    
