doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  title <%= appNameSlug %>
  meta(name='description', content='')
  meta(name='viewport', content='width=device-width')
  //- vendor:css
  //- endinject
  
  //- app:css
  //- endinject

body(ng-app="<%= appNameSlug %>")
  div.container(ng-view)
    

      
  //- vendor:js
  //- endinject
  
  //- app:js 
  //- endinject
