body
  font-family: sans-serif
  background: #b23184
  color: #e8e7dc
  padding: 3em
  text-align: center
  width: 70%
  min-width: 300px
  max-width: 600px
  margin: 0 auto

h1
  font-weight: 200
  font-family: sans-serif
  font-size: 3.4em
  margin: 0
  padding: 0

p.intro
  line-height: 1.4em
  font-weight: 100
  font-size: 1.2em
