!!! 5
html(lang='en')
head
  meta(charset='utf-8')
  title soundbar

  link(rel='stylesheet', href='lib/bower-foundation/css/normalize.css')
  link(rel='stylesheet', href='lib/bower-foundation/css/foundation.css')
  link(rel='stylesheet', href='lib/ionicons/css/ionicons.css')
  link(rel='stylesheet', href='css/app.css')

  script(data-main='js/main.js', src='lib/requirejs/require.js')

body
  div(ng-view='ng-view')
