// Welcome to the AMD Component Example
// This is a basic site that can be used as a boilerplate for single-page
// Angular applications with dynamic loading of components via RequireJS.


doctype html
html(lang='en')
head
  meta(charset='utf-8')
  title <%= appNameSlug %>
  script(data-main='main.js', src='components/vendor/requirejs/require.js')

  link(rel='stylesheet', href='app.css')

body
  h1 <%= appNameSlug %>
  p.intro Welcome! If you're viewing this that means you've successfully generated a project!

  div(ng-view='ng-view')
