doctype html
html(lang='en')
head
  meta(charset='utf-8')
  title <%= appNameSlug %>
  script(data-main='js/main.js', src='components/vendor/requirejs/require.js')

body
  h1 <%= appNameSlug %>
  div(ng-view='ng-view')
