.container
  .jumbotron
    h1 <%= appNameSlug %>
    br
    section.main
      h4 You're now cooking with:
      ul.list
        li Angular
        li jQuery
        li Fabric.js

  div(ng-controller='SettingsCtrl')
