.container
  .jumbotron
    h1 <%= appNameSlug %>
    br
    section.main
      h4 You're now cooking with:
      ul.list
        li jQuery
        li Lodash
        li Bootstrap
        li AngularJS
        li AngularRoute
        
  div(ng-controller='SettingsCtrl')
