body
  background: #ddd
  padding: 1em
  text-align: center

ul.list
  list-style-type: none
  padding: 0

.logo
  opacity: 0.6
  transition: all 0.3s
  width: 200px
  margin-bottom: 20px
  padding: 0
  &:hover
    opacity: 1
    width: 250px
    margin-bottom: -30px
